{% extends "dashboard/admin_dashboard.html" %}
{% load static %}
{% block title %}
Navbar
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Navbar</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="row" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if field.name == "content" %}
    
                                        <div class="form-group col-md-10">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                            <div class="text-danger">
                                                {{ field.errors.0 }}
                                            </div>
                                        </div>
                                    {% else %}

                                        <div class="form-group col-md-5">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                            <div class="text-danger">
                                                {{ field.errors.0 }}
                                            </div>
                                        </div>                                    
                                    {% endif %}
                                {% endfor %}
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn  btn-lg" style="background-color: var(--primary-color);">Update    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}